body{
    background: #fac89b;
        ffb775
}
@media screen and (min-width:800px){
        
}


@media screen and (min-width:1800px){
    
}

header{
    width: 100%;
}
#content{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1em;
    background-color: #d9f1bd;
}

nav{
    font-size: 2em;
    text-align: center;
}
  nav a{
    display:inline-block;
    padding:10px;
    background-color: #ea8f92;
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
    text-decoration:none;
    text-align:center;
    font-size: 120%;
}
        
       nav a:hover{
            text-decoration: line-through;
            color:#fff176;
        }

    h1{ 
        font-family: 'Roboto', sans-serif;
        font-size: 70px;
        color:#2093cc;
        text-align: center;
        padding-top: 60px;
        margin-bottom:24px;
        ;

        }
.h1{ color: #ffffff}

#farm_page{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}

#wildlife_page{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    
}

#unicorns_page{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-content: center;
    
}

#cats_page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.center{
    text-align: center;
}

    .cats{
            grid-area:cat;
        
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration: none;
        border-radius: 50%
                
        }
    .wildlife{
        grid-area: wil;
        
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        }

    .farm{
        grid-area: far;
        
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;

        }



    .dinosaur{
            grid-area: din;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
            }

    .dogs{
        grid-area: dog;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        }

    .unicorn{
            grid-area: uni;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
            }

    footer{
        grid-area: foo;
        height:50px;
        background-color: lightyellow;
        clear: both;
        margin-top:10px;
        text-align: center;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
        color:#0092db;
        }

p{
    font-size: 50px;
}





